<form method="post" action="?class=Form&method=salvar">
  <input type="hidden" name="id" value="{id}" />
    <div>
      <label for="modelo">Modelo:</label>
      <input type="text" name="modelo" id="modelo" required maxlength="100" value="{modelo}"  />
    </div>
    <div>
      <label for="processador">Processador:</label>
      <input type="text" name= "processador" id="processador" required maxlength="100" value="{processador}"  />
    </div>
    <div>
      <label for="sistemaoperacional">Sistema Operacional:</label>
      <input type="text" name="sistemaoperacional" id="sistemaoperacional" required  value="{sistemaoperacional}" />
    </div>
    <div>
      <button type="submit">Salvar</button>
    </div>
  </form>